@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&family=Ubuntu&display=swap");

@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

@tailwind components;
@tailwind utilities;

/* Custom Styles */



/*****************@ Dark/Light Mode @******************/

.light body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background: #e9ecef;
}

.dark body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background: #1f1f2d;
    /* background-color: gray; */
    /* color: white; */
}

/* CSS for the container */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/************ Web Development ***************/
  
.line-web {
    left: 50%;
    transform: translateX(0); 
    height: 11rem; /* Set a minimum height for the line */
    width: 0.08rem; /* Corresponds to before:w-0.5 in Tailwind CSS */
    background: linear-gradient(to bottom, transparent, hsla(238, 100%, 71%, 1));
}
        
.rounded-ball-web {
    width: 2.5rem; /* Adjust the size as needed */
    height: 2.5rem; /* Adjust the size as needed */
    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    border-radius: 50%;
    position: relative;
    bottom: -6rem; /* Align to the bottom of the parent container */
    transform: translateX(-50%); /* Center horizontally */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/*********** Desktop Engineering *************/

.line-app {
    left: 50%;
    transform: translateX(0); 
    height: 11rem; /* Set a minimum height for the line */
    width: 0.08rem; /* Corresponds to before:w-0.5 in Tailwind CSS */
    background: linear-gradient(to bottom, transparent, hsla(220, 78%, 29%, 1) 100%);
}

.rounded-ball-app {
    width: 2.5rem; /* Adjust the size as needed */
    height: 2.5rem; /* Adjust the size as needed */
    background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    border-radius: 50%;
    position: relative;
    bottom: -6rem; /* Align to the bottom of the parent container */
    transform: translateX(-50%); /* Center horizontally */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/************* Middle line & bubble **************/

.line-transparent {
    left: 50%;
    transform: translateX(0); 
    height: 10rem; /* Set a minimum height for the line */
    width: 0.08rem; /* Corresponds to before:w-0.5 in Tailwind CSS */
    background: linear-gradient(to bottom, transparent, gray);
}
.rounded-ball-transparent {
    width: 1rem; /* Adjust the size as needed */
    height: 1rem; /* Adjust the size as needed */
    border-radius: 50%;
    border: 2px solid gray; /*Set border width and color */
    background-color: transparent; /* Make the inside transparent */
    position: relative;
    bottom: -10.2rem; /* Align to the bottom of the parent container */
    transform: translateX(-50%); /* Center horizontally */
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

/***************** Button Styles ******************/

  
/* Contact Button Style */
.contact-button {
    background-image: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    color: white; 
    font-weight: 500;
    padding: 0.6rem 2rem; 
    border-radius: 1.3rem; 
    transition: all 0.2s ease-in-out; 
    outline: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Custom shadow size and color */
}

/* Hover Styles */
.contact-button:active {
    transform: translateY(2.5px);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }

/* Focus Styles */
.contact-button:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); 
}

  /***************** Contact Form ******************/

  .contact-form {
    max-width: 600px;
    margin: 8px auto;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}



.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E3E4E8;
    border-radius: 10px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 200px;
}

/*********** Home Buttons *************/

.home-btn {
    /* display: inline-block; */
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    font-size: 20px;
    /* font-weight: bold; */
    transition: transform 0.1s, box-shadow 0.1s;
    cursor: pointer;
    /* Colors */
    background-color: #8b5cf6; 
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .button-wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* Home buttons */
  .home-btn-contact {
    background-color: black;  /* Color for source button */
}

.home-btn-source {
    background-color: #0077b6;  /* Color for contact button or any other color you prefer */
}

  
  .home-btn-source:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #0096c7;
  }

  .home-btn-contact:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #343a40;
  }

  .home-btn:active {
    transform: translateY(2.5px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }


/*****************@ Media Styles @******************/
/*************  NEEDS TO STAY AT BOTTOM *************/

  /* Reducing the line height for mobile screens */
  @media (max-width: 768px) {
    .line {
      height: 6rem; /* Adjust the height as needed for mobile screens */
    }
    .rounded-ball {
      bottom: -4rem; /* Align to the bottom of the parent container */
    }
    body {
        background-attachment: scroll;
        /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
    }
    .contact-form {
        max-width: 95%;
        padding: 20px;
    }
    .button-wrapper {
        flex-direction: column;
    }
    .btn-left,
    .btn-right {
            
        margin: 0;
    }
    .home-btn{
        width: 200px;
        height: 50px;
        font-size: 16px;
     
    }
}

/* Title Landscape */
@media (orientation: landscape) {
    .landscape\:pt-20 {
      padding-top: 5rem; /* 20 units in Tailwind (assuming 1 unit = 0.25rem) */
    }
  }
  


/* Tailwind Styles */

/* Scrollbar Colours*/
:root {
    --primary: #334155;
    --secondary: #94a3b8;
}